<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.carlmercier.alfred-ticktick</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>CAA57B1C-A4EF-4DF2-BF82-B6A7AFA2829F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>556F06BD-119D-4BD5-81E4-6868D77C28AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ECD65670-1588-49F5-A981-A5DB25BBD27B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CAA57B1C-A4EF-4DF2-BF82-B6A7AFA2829F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Carl Mercier</string>
	<key>description</key>
	<string>Add tasks to TickTick</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Add to TickTick</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>t</string>
				<key>subtext</key>
				<string>Enter your task description</string>
				<key>text</key>
				<string>Add to TickTick</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>ECD65670-1588-49F5-A981-A5DB25BBD27B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>./add_to_ticktick "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CAA57B1C-A4EF-4DF2-BF82-B6A7AFA2829F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Pop</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>556F06BD-119D-4BD5-81E4-6868D77C28AD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>556F06BD-119D-4BD5-81E4-6868D77C28AD</key>
		<dict>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>CAA57B1C-A4EF-4DF2-BF82-B6A7AFA2829F</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>ECD65670-1588-49F5-A981-A5DB25BBD27B</key>
		<dict>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>PASSWORD</key>
		<string></string>
		<key>USERNAME</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>PASSWORD</string>
		<string>USERNAME</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://www.github.com/cmer/alfred-ticktick</string>
</dict>
</plist>
